@keyframes dropIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 span {
    animation: dropIn 3s ease forwards;
    display: inline-block;
    opacity: 0; /* Start with letters invisible */
}


.animated-description {
    opacity: 0; /* Start invisible */
    animation: fadeInUp 3s ease-out forwards;
}
